<% if gifts.count.nonzero? %>
  <ul class="gifts-list">
    <% gifts.each do |gift| %>
      <li>
        <div class="row">
          <div class="col-md-7">
            <div class="gift-details">
              <% if gift.image_url.present? %>
                <%= image_tag gift.image_url, alt: '', class: 'gift-image' %>
              <% end %>
              <%= link_to_if gift.url.present?, gift.name, gift.url %>
              <% if gift.description.present? %>
                <p class="gift-description">
                  <%= gift.description %>
                </p>
              <% end %>
              <% if gift.location.present? %>
                <p class="gift-location">
                  <%= gift.location %>
                </p>
              <% end %>
            </div>
          </div>
          <div class="col-md-5">
            <div id="gift-thermometer-<%= gift.id %>" class="gift-thermometer thermometer horizontal">
              <div class="track">
                <div class="progress" data-percent="<%= gift.percent_funded %>">
                  <div class="amount"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
