

<section id="intro">
  <div class="sky"></div>
  <div class="foreground">
    <div class="fireflies"></div>
    <%= image_tag("intro/bush.png", class: "bush scenery") %>
    <div class="fireflies"></div>
  </div>
  <div class="midground">
    <%= image_tag("intro/fire.png", class: "fire scenery") %>
    <%= image_tag("intro/bush.png", class: "bush-front scenery") %>
    <div class="fireflies"></div>
    <%= image_tag("intro/bush.png", class: "bush-back scenery") %>
      <div class="fireflies"></div>
    <%= image_tag("intro/tent.png", class: "tent scenery") %>
  </div>
  <div class="background">
    <div class="fireflies"></div>
    <%= image_tag("intro/bush.png", class: "bush scenery") %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="fireflies">
        </div>
        <nav>
          <ul>
            <li class="sign">
              <a id="logo" href="#">Kristen and Todd Get Married!</a>
            </li>
            <li class="sign">
              <a href="#story">Our Story</a>
            </li>
            <li class="sign">
              <a href="#location">Directions</a>
            </li>
            <li class="sign">
              <a href="#rsvp">RSVP</a>
            </li>
            <li class="sign">
              <a href="#registry">Registry</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</section>

<section id="story">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Our Story</h2>
          <div class="slider single-item">
            <div class="text_background"> <p> <font color= "OrangeRed">Todd </font> and <font color= "Teal">Kristen </font> first met years ago through mutual friends. After meeting several times they realized they had many things in common, such as a fondness for Dwight Yoakam songs. 
            <p><font color= "OrangeRed">Todd </font> decided to ask <font color= "Teal">Kristen </font> on a date. He was nervous, but determined.</div>
            <div><%= image_tag("story/firstdate.jpg", class: "comsize") %></div>
            <div class="text_background"> <p> That weekend they watched X-Men: First Class and ate California tart frozen yogurt at Fro-Jo's. They sat on a blanket under the stars and shared stories.

            <p>For one reason or another <font color= "OrangeRed">Todd </font> and <font color= "Teal">Kristen </font> drifted. However, it was clear there was something between them.

            <p>A couple of months later some of their friends planned a trip to a corn maze and invited <font color= "OrangeRed">Todd </font> and <font color= "Teal">Kristen </font> along. They had a great time. That night they carved pumpkins together.

            <p>Once more <font color= "OrangeRed">Todd </font> asked <font color= "Teal">Kristen </font> on a date.</div>
            <div><%= image_tag("story/secondfirstdate.jpg", class: "comsize") %></div>
            <div class="text_background"> <p> <font color= "OrangeRed">Todd </font> and <font color= "Teal">Kristen </font> went on many more dates and spent countless hours together. Soon it was <font color= "Cranberry">LOVE</font>. The two went on camping trips, visited new places, played video games, and watched lots of TV shows.

            <p>One day <font color= "OrangeRed">Todd </font> and <font color= "Teal">Kristen </font> were sitting in the living room with <font color= "Purple">Artemus</font>.</div>
            <div><%= image_tag("story/artemuspredictsthefuture.jpg", class: "comsize") %></div>
            <div class="text_background"> <p> After that things became more serious. Sometime later <font color= "OrangeRed">Todd </font> and <font color= "Teal">Kristen </font> took a trip to Boston. The day before they left for home <font color= "OrangeRed">Todd </font> took <font color= "Teal">Kristen </font> on a walk through a beautiful Boston park.</div>
            <div><%= image_tag("story/theproposal.jpg", class: "comsize") %></div>
            <div class="text_background"> <p><td width="400px"><p> And they are still having adventures.</div>
          </div> 
      </div>
    </div>
  </div>
</section>

<section id="location">
  <%= image_tag("location/fields.png", class: "fields scenery") %>
  <div class="scenery fields-foreground"></div>
  <%= image_tag("location/tree.png", class: "tree scenery") %>
  <div class="scenery directions container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="subheader">September <span class="big-text">21</span>, 2014</h2>
      </div>
      <div class="col-md-6">
        <h2 class="subheader">Moonlight Fields Farm<br />Nicholasville, KY</h2>
      </div>
    </div>
    <div class="row" style="padding-top: 250px;">
      <div class="col-md-6">
      </div>
      <div class="col-md-6 sign-post">
        <div class="sign">
          <p><a href="#">Map</a></p>
          <p><a href="#">Directions</a></p>
          <p><a href="#">Hotels</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="rsvp">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>RSVP</h2>
        <%= render '/rsvps/form' %>
      </div>
    </div>
  </div>
</section>

<section id="registry">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Registry</h2>
        <div id="gifts-list-wrapper" data-url="<%= gifts_url %>">
          <%= render 'gifts/list', gifts: @gifts %>
        </div>
      </div>
    </div>
  </div>
</section>
