<%= form_for(@rsvp, html: {class: "form-horizontal", role: "form"}) do |f| %>
  <% if @rsvp.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul class="list-unstyled">
        <% @rsvp.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :first_name, 'First name:', class: "control-label col-sm-4" %>
    <div class="col-sm-8">
      <%= f.text_field :first_name, class: "form-control", placeholder: "Your first name" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, 'Last name:', class: "control-label col-sm-4" %>
    <div class="col-sm-8">
      <%= f.text_field :last_name, class: "form-control", placeholder: "Your last name" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, 'Email address:', class: "control-label col-sm-4" %>
    <div class="col-sm-8">
      <%= f.email_field :email, class: "form-control", placeholder: '@' %>
    </div>
  </div>
  <div class="form-group" id="guest-count-wrapper">
    <%= f.label :guest_count, 'How many people will be attending?', class: "control-label col-sm-4" %>
    <div class="col-sm-8">
      <%= f.number_field :guest_count, class: "form-control", step: 1, min: 0 %>
      <p class="help-block">
        Include yourself
      </p>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :song_suggestion, 'Song suggestion:', class: "control-label col-sm-4"%>
    <div class="col-sm-8">
      <%= f.text_field :song_suggestion, class: "form-control", placeholder: "What should we play at the reception?" %>
    </div>
  </div>
  <div class="form-group">
        <div class="control-label col-sm-7">
          <%= f.radio_button :attending, true , :checked => true , :value => true %> 
          <%= f.label :attending, "Yes, I'll be attending"%>
        </div>
  </div>
  <div class="form-group">
    <div class="control-label col-sm-7">
      <%= f.radio_button :attending, false, :value => false%>
      <%= f.label :attending, "No, sending my regrets"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit "Send RSVP", class: "btn btn-primary col-sm-4 col-sm-offset-4" %>
  </div>
<% end %>
