<%= form_for(@rsvp, html: {class: "form-horizontal", role: "form"}) do |f| %>
  <% if @rsvp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>

      <ul>
      <% @rsvp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :first_name, class: "control-label  col-sm-3" %>
    <div class="col-sm-6">
      <%= f.text_field :first_name, class: "form-control", placeholder: "Enter your first name"%>
    </div>
  </div><br>
  <div class="form-group">
    <%= f.label :last_name, class: "control-label  col-sm-3" %>
    <div class="col-sm-6">
      <%= f.text_field :last_name, class: "form-control", placeholder: "Enter your last name" %>
    </div>
  </div><br>
  <div class="form-group">
    <%= f.label :email, class: "control-label  col-sm-3" %>
    <div class="col-sm-6">
      <%= f.text_field :email, class: "form-control"  %>
    </div>
  </div><br>
  <div class="form-group">
    <%= f.label :guest_count, class: "control-label  col-sm-3"%>
    <div class="col-sm-6">
      <%= f.number_field :guest_count, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
        <div class="control-label col-sm-7">
          <%= f.radio_button :attending, true , :checked => true , :value => true %> 
          <%= f.label :attending, "Yes, I'll be attending"%>
        </div>
  </div>
  <div class="form-group">
    <div class="control-label col-sm-7">
      <%= f.radio_button :attending, false, :value => false%>
      <%= f.label :attending, "No, sending my regrets"%>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit "Send RSVP", class: "btn btn-primary col-sm-4 col-sm-offset-4" %>
  </div>
<% end %>
