<dl class="dl-horizontal">
  <dt>First name:</dt>
  <dd><%= @rsvp.first_name %></dd>
  <dt>Last name:</dt>
  <dd><%= @rsvp.last_name %></dd>
  <dt>Email address:</dt>
  <dd><%= mail_to @rsvp.email, @rsvp.email %></dd>
  <dt>Attending?</dt>
  <dd><%= @rsvp.attending? ? 'yes' : 'no' %></dd>
  <dt># guests:</dt>
  <dd><%= @rsvp.guest_count %></dd>
  <dt>Song suggestion:</dt>
  <dd>
    <% if (suggestion=@rsvp.song_suggestion).present? %>
      <%= suggestion %>
    <% else %>
      &mdash;
    <% end %>
  </dd>
  <dt>Date RSVPed:</dt>
  <dd><%= @rsvp.created_at %></dd>
</dl>

<p>
  <%= link_to 'Edit RSVP', edit_rsvp_path(@rsvp), class: 'btn btn-default' %>
</p>
